<div class="painel-menu">
  <div class="p-field p-col-1">
    <button pButton type="button" label="Back" class="ui-button-icon-primary prime-button" (click)="onListaClient()"></button>
  </div>
</div>
<hr>
<p-panel header="Dados Pessoais">

    <div class="p-field">
       <span class="p-col-6"><b>Nome Completo.: </b></span>
       <span>{{cliente.usuario.pessoa.nome}}</span>
    </div>

    <div class="p-field">
        <span class="p-col-6"><b>CPF.: </b></span>
        <span>{{cliente.usuario.pessoa.cpf}}</span>
     </div>

     <div class="p-field">
        <span class="p-col-6"><b>Data nascimento.: </b></span>
        <span>{{cliente.usuario.pessoa.dataNascimento |date:"dd-MM-yyyy"}}</span>
     </div>

     <div class="p-field">
        <span class="p-col-6"><b>Estado Civil.: </b></span>
        <span>{{cliente.usuario.pessoa.estadoCivil}}</span>
     </div>

     <div class="p-field">
        <span class="p-col-6"><b>Sexo.: </b></span>
        <span>{{cliente.usuario.pessoa.sexo}}</span>
     </div>

     <div class="p-field">
        <span class="p-col-6"><b>Email.: </b></span>
        <span>{{cliente.usuario.pessoa.email}}</span>
     </div>

     <div class="p-field">
        <span class="p-col-6"><b>Telefone.: </b></span>
        <span>{{cliente.usuario.pessoa.telefone}}</span>
     </div>

</p-panel>
<br>
<p-panel header="Dados Endereço">

    <div class="p-field">
        <span class="p-col-6"><b>Logradouro.: </b></span>
        <span>{{cliente.usuario.pessoa.endereco.logradouro}}</span>
     </div>

     <div class="p-field">
        <span class="p-col-6"><b>Complemento.: </b></span>
        <span>{{cliente.usuario.pessoa.endereco.complemento}}</span>
     </div>

     <div class="p-field">
        <span class="p-col-6"><b>Bairro.: </b></span>
        <span>{{cliente.usuario.pessoa.endereco.bairro}}</span>
     </div>

     <div class="p-field">
        <span class="p-col-6"><b>CEP.: </b></span>
        <span>{{cliente.usuario.pessoa.endereco.cep}}</span>
     </div>

     <div class="p-field">
        <span class="p-col-6"><b>Cidade.: </b></span>
        <span>{{cliente.usuario.pessoa.endereco.cidade.nomeCidade}}</span>
     </div>

     <div class="p-field">
        <span class="p-col-6"><b>Logradouro.: </b></span>
        <span>{{cliente.usuario.pessoa.endereco.cidade.estado.sigla}}</span>
     </div>

</p-panel>
<br>
<p-panel header="Dados Login">
    <div class="p-field">
        <span class="p-col-6"><b>Login.: </b></span>
        <span>{{cliente.usuario.login}}</span>
     </div>

     <div class="p-field">
        <span class="p-col-6"><b>Senha.: </b></span>
        <span type="password">{{cliente.usuario.senha}}</span>
     </div>

     <div class="p-field">
      <span class="p-col-6"><b>Status.: </b></span>
      <span type="password">{{cliente.usuario.status}}</span>
   </div>

   <div class="p-field">
    <span class="p-col-6"><b>Data Cadastro.: </b></span>
    <span type="password">{{cliente.usuario.dataCadastro | date: "dd-MM-yyyy"}}</span>
 </div>
</p-panel>

