<p-panel header="Vendas">
  <p-table [value]="estoques">
    <ng-template pTemplate="header">
      <tr>
        <th>Cód</th>
        <th>Descricao</th>
        <th>quantidade</th>
        <th>Valor</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-est>
      <tr>
        <td class="text-center">{{ est.idEstoque }}</td>
        <td class="text-center">{{ est.produto.descricao }}</td>

        <td pEditableColumn>
          <p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="quantidade"required>
              </ng-template>
              <ng-template pTemplate="output">
                  {{quantidade}}
              </ng-template>
          </p-cellEditor>
        <td class="text-center">
          {{ est.produto.precoVenda | currency: "BRL" }}
        </td>

      </tr>
    </ng-template>
  </p-table>

  <br />
  <div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-formgrid p-col-12 p-sm-12">
        <input
          type="text"
          name=""
          id=""
          pInputText
          placeholder="Informe o código do produto"
          (change)="buscarEstoque($event)"
        />
      </div>

      <div class="p-field p-formgrid p-col-12 p-sm-3">
        <label for="">Desconto:</label>
        <input type="text" name="" id="" pInputText (change)="CalculaDesconto($event)">
      </div>
      <div class="p-field p-formgrid p-col-12 p-sm-3">
        <label for="">Tipo Pagamento:</label>
        <select pInputText>
          <option value=""></option>
          <option value="">Dinheiro</option>
          <option value="">Crédito/Débito </option>
        </select>
      </div>
      <div class="p-field p-formgrid p-col-12 p-sm-4">
        <label for="">Total Venda:</label>
        <input type="text" name="" id="" pInputText [ngModel]="soma | currency:'BRL'" disabled>
      </div>
      <div class="p-field p-formgrid p-col-12 p-sm-3">
        <button pButton label="Cancelar" class="ui-button-danger" (click)="onCancel()"></button>
      </div>
      <div class="p-field p-formgrid p-col-12 p-sm-3">
        <button pButton label="Finalizar" class="ui-button-success" (click)="onFinaliza()"></button>
      </div>
    </div>
  </div>
</p-panel>
