<p-panel header="Estoque">
  {{formulario.value | json}}
  <form [formGroup]="formulario">

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-formgrid p-col-2">
        <label for="dataLancamento">Data Cadastro</label>
        <input
          type="date"
          name="dataLancamento"
          id="dataLancamento"
          pInputText
          formControlName="dataLancamento"
          required
        />
      </div>

      <div class="p-field p-formgrid p-col-1">
        <label for="quantidade">Quantidade.</label>
        <input
          type="number"
          name="quantidade"
          id="data_cadastro"
          pInputText
          formControlName="quantidade"
          placeholder="15"
        />
      </div>

      <div class="p-field p-formgrid p-col-4">
        <label for="">Produto</label>
        <p-dropdown
          [options]="produto"
          optionLabel="descricao"
          formControlName="produto"

        ></p-dropdown>
      </div>

      <div class="p-field p-formgrid p-col-4">
        <label for="">Usuário</label>
        <p-dropdown
          [options]="usuario"
          optionLabel="login"
          formControlName="usuario"
          required
        ></p-dropdown>
      </div>

      <div class="p-field p-formgrid p-col-4"></div>
      <div class="p-field p-formgrid p-col-2">
        <button type="submit" pButton label="Gravar" class="ui-button ui-button-success"
         (click)="onUpdate()"></button>
      </div>
      <div class="p-field p-formgrid p-col-2">
        <button pButton label="Cancelar" (click)="onBack()" class="ui-button ui-button-danger"></button>
      </div>
    </div>
  </form>
</p-panel>
