<p-panel header="Estoque">
  <form (ngSubmit)="onSubmit()" >

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-formgrid p-col-12 p-sm-2">
        <label for="dataLancamento">Data Cadastro</label>
        <input
          type="date"
          name="dataLancamento"
          id="dataLancamento"
          pInputText
          required
          [ngModel]="estoque.dataLancamento | date: 'yyyy-MM-dd'"
        />
      </div>

      <div class="p-field p-formgrid p-col-12 p-sm-1">
        <label for="quantidade">Quantidade.</label>
        <input
          type="number"
          name="quantidade"
          id="data_cadastro"
          pInputText
          [ngModel]="estoque.quantidade"
        />
      </div>

      <div class="p-field p-formgrid p-col-12 p-sm-4">
        <label for="">Produto</label>
        <p-dropdown
          [options]="produto"
          optionLabel="descricao"
          [ngModel]="estoque.produto.descricao"
          [ngModelOptions]="{standalone: true}"
        ></p-dropdown>
      </div>

      <div class="p-field p-formgrid p-col-12 p-sm-4">
        <label for="">Usuário</label>
        <p-dropdown
          [options]="usuario"
          optionLabel="login"
          [ngModel]="estoque.usuario.login"
          [ngModelOptions]="{standalone: true}"
        ></p-dropdown>
      </div>

      <div class="p-field p-formgrid p-col-4"></div>
      <div class="p-field p-formgrid p-col-2">
        <button type="submit" pButton label="Gravar" class="ui-button ui-button-success"
        ></button>
      </div>
      <div class="p-field p-formgrid p-col-2">
        <button pButton label="Cancelar" (click)="onBack()" class="ui-button ui-button-danger"></button>
      </div>
    </div>
  </form>
</p-panel>
